In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [34]:
### Alimentar uma variavel com o conteudo de uma pagina
pag = requests.get('https://statusinvest.com.br/acoes/cgas5')

In [35]:
### Status code - tem como resposta se a requição a pagina foi bem sucedida
### content - é o metodo que acessa o conteudo da pagina
if pag.status_code == 200:
   print('Requisição bem sucedida!')
   content = pag.content

Requisição bem sucedida!

In [36]:
### cont - objeto que contém elementos da página
cont = BeautifulSoup(content, 'html.parser')

In [37]:
### objeto que contem os dados que quero obter da página
table = cont.findAll(name='strong')

In [38]:
### exibindo alguns dados da pagina 
table

[<strong class="value">161,90</strong>,
 <strong class="value">59,61</strong>,
 <strong class="value">244,34</strong>,
 <strong class="value">10,72</strong>,
 <strong class="value">145,19%</strong>,
 <strong class="value">PNA</strong>,
 <strong class="value">--</strong>,
 <strong class="value">780.758,47</strong>,
 <strong class="fw-700">IBOV</strong>,
 <strong class="fw-700">IBOV</strong>,
 <strong class="value">0,000</strong>,
 <strong class="fw-700">OPÇÕES</strong>,
 <strong class="value mr-1">0</strong>,
 <strong class="value">41,30</strong>,
 <strong class="value">15,69</strong>,
 <strong class="value">8,54</strong>,
 <strong class="value">9,87</strong>,
 <strong class="value">2,54</strong>,
 <strong class="value">-</strong>,
 <strong class="value">-</strong>,
 <strong class="value">2,26</strong>,
 <strong class="value">-1.354,74</strong>,
 <strong class="value">-3,79</strong>,
 <strong class="value">32,71%</strong>,
 <strong class="value">26,41%</strong>,
 <strong class="value">22,85%</strong>,
 <strong class="value">14,37%</strong>,
 <strong class="value">1,13</strong>,
 <strong class="value">263,17%</strong>,
 <strong class="value">16,18%</strong>,
 <strong class="value">26,85%</strong>,
 <strong class="value">10,32</strong>,
 <strong class="value">3,92</strong>,
 <strong class="value">8,01</strong>,
 <strong class="value">1,66</strong>,
 <strong class="value">1,91</strong>,
 <strong class="value">0,06</strong>,
 <strong class="value">0,94</strong>,
 <strong class="value">0,99</strong>,
 <strong class="value">7,60 %</strong>,
 <strong class="value">14,36 %</strong>,
 <strong class="value"> </strong>,
 <strong class="fw-900 d-xs-block d-sm-inline-block">20/04/2020</strong>,
 <strong class="m-md-0 mb-md-1 value">1,79</strong>,
 <strong class="m-md-0 mb-md-1 value">1,07</strong>,
 <strong class="m-md-0 mb-md-1 value">200</strong>,
 <strong class="value mb-0 mb-md-1 mt-0 mt-md-1">32.014</strong>,
 <strong class="value">0,0858</strong>,
 <strong class="value">1,1042</strong>,
 <strong class="value v-align-middle">1.187,05%</strong>,
 <strong class="value">0,0000</strong>,
 <strong class="value v-align-middle">1.187,05%</strong>,
 <strong class="value">519.508.000</strong>,
 <strong class="value">8.451.722.000</strong>,
 <strong class="value">2.792.056.000</strong>,
 <strong class="value">5.244.942.000</strong>,
 <strong class="value">1.083.410.000</strong>,
 <strong class="value">4.161.532.000</strong>,
 <strong class="value">-</strong>,
 <strong class="value">-</strong>,
 <strong class="value">132.520.587</strong>,
 <strong class="value"></strong>,
 <strong class="value">4,82%</strong>,
 <strong class="value"> </strong>,
 <strong class="value">Utilidade Pública</strong>,
 <strong class="value">Gás</strong>,
 <strong class="value">Gás</strong>,
 <strong>até</strong>]

In [39]:
#### obtendo a tabela de dividendos desta pagina
table = cont.find(name='table')

In [40]:
### transformação a variavel table em uma string, e utilizar metodo do pandas read_html para ler o html da pagina
tabela = str(table)
df = pd.read_html(tabela)[0]

In [42]:
#exibe os dividendos da CGAS5 - COMGAS
df

         Tipo    Data com   Pagamento       Valor
0   Dividendo  31/01/2020  10/02/2020   110423103
1   Dividendo  09/12/2019  27/12/2019  1490955279
2         Jcp  09/12/2019  27/12/2019   134023674
3         Jcp  04/01/2019  17/01/2019     8579529
4         Jcp  05/12/2018  18/12/2018   106900000
5   Dividendo  09/11/2018  23/11/2018   372410000
6         Jcp  26/12/2017  08/01/2018   140100000
7   Dividendo  10/11/2017  23/11/2017   579600000
8   Dividendo  20/02/2017  03/03/2017   338290000
9         Jcp  20/12/2016  29/12/2016   140050000
10  Dividendo  18/02/2016  26/02/2016  1041900000
11        Jcp  17/12/2015  29/12/2015   158770000